body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: #434455
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  height: 100vh;
  box-sizing: border-box;
  list-style: none;
  padding: 24px 156px;
  margin: 0;
}

.gallery-image {
  width: 100%;
  height: calc((100vh - 96px) / 3);
  object-fit: cover;
  display: block;
}